---
import Layout from './_layout.astro';
import Button from '../Button';
---

<Layout>
	<h1>astro + linaria + tokencss 💜</h1>
	<main>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, animi
		voluptate accusamus temporibus voluptatum impedit quo dolorem, ipsa,
		reprehenderit iste laudantium alias nihil cumque rerum? Nesciunt aspernatur
		modi excepturi debitis? Ex commodi eum pariatur vero, quisquam sit eius ab
		quaerat! Fugiat itaque ipsum illum aperiam ullam obcaecati ipsam reiciendis
		autem quidem ad quibusdam dicta accusantium animi doloremque, sequi fugit
		voluptatibus alias. Unde accusamus dolorem dolorum non exercitationem autem
		officia cumque eos, cum accusantium. Cum vero officia fugiat sed. Laudantium
		natus, explicabo quae officia mollitia porro soluta ducimus magnam labore
		distinctio dolor a! Iste placeat id laboriosam. Adipisci voluptatum nemo
		iure.
		</p>

		<Button>Click me!</Button>
	</main>
</Layout>

<style>
	main {
		display: grid;
		gap: sm;
	}
</style>
